In [1]:
import pandas as pd

In [2]:
df_dota = pd.read_excel("DB_DOTA_Normalized.xlsx")

In [3]:
df_comercios = pd.read_excel("Parametria Comercios.xlsx")

In [6]:
df_comercios_estandar = df_comercios[df_comercios['Comercios_TYPE'] == 'ESTANDAR']

In [7]:
df

NameError: name 'df' is not defined

In [8]:
df_dota

,CARD_FOUR_LAST_DIGITS,CARD_ISSUER_ID,CARD_ISSUER_NAME,CARD_SIX_FIRST_DIGITS,MOV_AMOUNT,MOV_CREATED_DATE,MOV_OPERATION,PAY_COLLECTOR_DOCUMENT,PAY_CURRENCY,PAY_MARKETPLACE,...,PURCHASE_ID,PURCHASE_MERCHANT_NUMBER,PURCHASE_MERCHANT_TRX_REFERENCE,PURCHASE_STATUS,CARD_NUMBER,GTWC_AUTHORIZATION_CODE,GTWT_ACQUIRER,BRAND,GTWT_MERCHANT_NUMBER,MOV_CREATION_DATE
0,7978,1,Visa,588559,2600.00,2022-01-02T23:13:36-04:00,PAYMENT,2.021364e+10,ARS,NONE,...,3.273268e+10,33106584.0,6059.0,approved,588559XXXXXX7978,NaN,PRISMA,MASTERCARD,33106584,2022-01-03
1,7976,1,Visa,558766,1709.00,2022-01-02T23:13:35-04:00,PAYMENT,2.034094e+10,ARS,NONE,...,3.273267e+10,32827909.0,5785.0,approved,558766XXXXXX7976,NaN,PRISMA,MASTERCARD,32827909,2022-01-03
2,5979,1,Visa,569888,500.00,2022-01-02T23:13:37-04:00,PAYMENT,2.020107e+10,ARS,NONE,...,3.273267e+10,33106584.0,6029.0,approved,569888XXXXXX5979,NaN,PRISMA,MASTERCARD,33106584,2022-01-03
3,5977,12433,Visa Ahora,595978,129999.00,2022-01-02T23:12:39-04:00,PAYMENT,3.070881e+10,ARS,NONE,...,NaN,NaN,NaN,NaN,595978XXXXXX5977,86,PRISMA,MASTERCARD,48830723,2022-01-03
4,7896,316,BBVA,579555,4410.00,2022-01-02T23:12:38-04:00,PAYMENT,2.742115e+10,ARS,NONE,...,3.273268e+10,40326803.0,292.0,approved,579555XXXXXX7896,NaN,PRISMA,MASTERCARD,40326803,2022-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56147,7896,1,Visa,558765,1163.99,2022-01-02T23:50:36-04:00,PAYMENT,3.071451e+10,ARS,MELI,...,3.273276e+10,32827909.0,4914.0,approved,558765XXXXXX7896,NaN,PRISMA,MASTERCARD,32827909,2022-01-03
56148,6668,279,Banco Galicia,566869,588.76,2022-01-02T23:51:39-04:00,PAYMENT,3.071531e+10,ARS,NONE,...,3.273275e+10,39725643.0,5099.0,approved,566869XXXXXX6668,NaN,PRISMA,MASTERCARD,39725643,2022-01-03
56149,9977,1,Visa,558766,2290.00,2022-01-02T23:51:39-04:00,PAYMENT,2.027654e+10,ARS,NONE,...,3.273276e+10,82341942.0,3379.0,approved,558766XXXXXX9977,NaN,PRISMA,MASTERCARD,82341942,2022-01-03
56150,58,1,Visa,569888,131.10,2022-01-02T23:51:41-04:00,PAYMENT,2.723785e+10,ARS,NONE,...,3.273276e+10,37776721.0,4601.0,approved,569888XXXXXX58,NaN,PRISMA,MASTERCARD,37776721,2022-01-03
56151,6989,1,Visa,558768,3280.00,2022-01-02T23:51:10-04:00,PAYMENT,2.706688e+10,ARS,NONE,...,3.273276e+10,82341942.0,7786.0,approved,558768XXXXXX6989,NaN,PRISMA,MASTERCARD,82341942,2022-01-03

In [9]:
df_comercios_estandar

      Comercios Comercios_TYPE
0    8234815397       ESTANDAR
1    8236841177       ESTANDAR
2    8354313702       ESTANDAR
3    8354313710       ESTANDAR
4    9133209072       ESTANDAR
..          ...            ...
667    51970986       ESTANDAR
668    70225545       ESTANDAR
669    74616608       ESTANDAR
670         969       ESTANDAR
671    47834775       ESTANDAR

[487 rows x 2 columns]

In [11]:
df_merged = df_dota.merge(
    df_comercios_estandar[['Comercios']],
    how='inner',
    left_on='GTWT_MERCHANT_NUMBER',
    right_on='Comercios'
)

In [12]:
df_merged = df_merged.drop(columns=['Comercios'])

In [13]:
df_merged

,CARD_FOUR_LAST_DIGITS,CARD_ISSUER_ID,CARD_ISSUER_NAME,CARD_SIX_FIRST_DIGITS,MOV_AMOUNT,MOV_CREATED_DATE,MOV_OPERATION,PAY_COLLECTOR_DOCUMENT,PAY_CURRENCY,PAY_MARKETPLACE,...,PURCHASE_ID,PURCHASE_MERCHANT_NUMBER,PURCHASE_MERCHANT_TRX_REFERENCE,PURCHASE_STATUS,CARD_NUMBER,GTWC_AUTHORIZATION_CODE,GTWT_ACQUIRER,BRAND,GTWT_MERCHANT_NUMBER,MOV_CREATION_DATE
0,7978,1,Visa,588559,2600.00,2022-01-02T23:13:36-04:00,PAYMENT,2.021364e+10,ARS,NONE,...,3.273268e+10,33106584.0,6059.0,approved,588559XXXXXX7978,NaN,PRISMA,MASTERCARD,33106584,2022-01-03
1,7976,1,Visa,558766,1709.00,2022-01-02T23:13:35-04:00,PAYMENT,2.034094e+10,ARS,NONE,...,3.273267e+10,32827909.0,5785.0,approved,558766XXXXXX7976,NaN,PRISMA,MASTERCARD,32827909,2022-01-03
2,5979,1,Visa,569888,500.00,2022-01-02T23:13:37-04:00,PAYMENT,2.020107e+10,ARS,NONE,...,3.273267e+10,33106584.0,6029.0,approved,569888XXXXXX5979,NaN,PRISMA,MASTERCARD,33106584,2022-01-03
3,5977,12433,Visa Ahora,595978,129999.00,2022-01-02T23:12:39-04:00,PAYMENT,3.070881e+10,ARS,NONE,...,NaN,NaN,NaN,NaN,595978XXXXXX5977,86,PRISMA,MASTERCARD,48830723,2022-01-03
4,7896,316,BBVA,579555,4410.00,2022-01-02T23:12:38-04:00,PAYMENT,2.742115e+10,ARS,NONE,...,3.273268e+10,40326803.0,292.0,approved,579555XXXXXX7896,NaN,PRISMA,MASTERCARD,40326803,2022-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56147,7896,1,Visa,558765,1163.99,2022-01-02T23:50:36-04:00,PAYMENT,3.071451e+10,ARS,MELI,...,3.273276e+10,32827909.0,4914.0,approved,558765XXXXXX7896,NaN,PRISMA,MASTERCARD,32827909,2022-01-03
56148,6668,279,Banco Galicia,566869,588.76,2022-01-02T23:51:39-04:00,PAYMENT,3.071531e+10,ARS,NONE,...,3.273275e+10,39725643.0,5099.0,approved,566869XXXXXX6668,NaN,PRISMA,MASTERCARD,39725643,2022-01-03
56149,9977,1,Visa,558766,2290.00,2022-01-02T23:51:39-04:00,PAYMENT,2.027654e+10,ARS,NONE,...,3.273276e+10,82341942.0,3379.0,approved,558766XXXXXX9977,NaN,PRISMA,MASTERCARD,82341942,2022-01-03
56150,58,1,Visa,569888,131.10,2022-01-02T23:51:41-04:00,PAYMENT,2.723785e+10,ARS,NONE,...,3.273276e+10,37776721.0,4601.0,approved,569888XXXXXX58,NaN,PRISMA,MASTERCARD,37776721,2022-01-03
56151,6989,1,Visa,558768,3280.00,2022-01-02T23:51:10-04:00,PAYMENT,2.706688e+10,ARS,NONE,...,3.273276e+10,82341942.0,7786.0,approved,558768XXXXXX6989,NaN,PRISMA,MASTERCARD,82341942,2022-01-03

In [14]:
df_merged.to_excel("DB_DOTA_Filtered_by_COMERCIOS.xlsx", index=False)